@model ML.Alumno
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Alumno</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h5>Seleccion un registro para agregar o editar su informacion </h5>
            <hr />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md- offset-11 ">
            @Html.ActionLink(" ", "Form", "Alumno", new { @class = "btn btn-success bi bi-person-plus-fill" })

        </div>
    </div>
    <br />
    @if (Model.Alumnos != null)
    {

        <div class="row">
            <div class="col-md-11">
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Editar</th>
                                <th class="visually-hidden-focusable">IdUsuario</th>
                                <th>Nombre</th>
                                <th>ApellidoPaterno</th>
                                <th>ApellidoMaterno</th>
                                <th>Eliminar</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ML.Alumno alumno in Model.Alumnos)
                            {
                                <tr>
                                    <td>
                                        <a class="btn btn-warning glyphicon glyphicon-edit bi bi-pencil-square "
                                           href="@Url.Action("Form", "Alumno", new {IdAlumno = alumno.IdAlumno})" );">

                                        </a>
                                    </td>
                                    <td class="visually-hidden-focusable">@alumno.IdAlumno</td>
                                    <td>@alumno.Nombre</td>
                                    <td>@alumno.ApellidoPaterno</td>
                                    <td>@alumno.ApellidoMaterno</td>

                                    <td>
                                        <a class="btn btn-danger bi bi-trash"
                                           href="@Url.Action("Delete", "alumno", new {IdAlumno = alumno.IdAlumno})"
                                           onclick="return confirm('estas seguro que deseas eliminar este registro? ');">

                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger " role="alert">
            No encontraron Usuario registrados. Error: @ViewBag.Message;
        </div>
    }

</div>